:root {
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
}

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

main {
    padding: 0 20px;
}

h1 {
    margin: 0.5em 0;
}

.current-season {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em 0;
}

#moves-container {
    margin: 0;
    position: relative;
}

#moves-container > figcaption {
    margin: 1em 0;
}

@media print, (min-width: 90em) {
    #moves-container > figcaption {
        position: absolute;
        right: 2em;
        bottom: 0;
        border: 3px solid black;
        padding: 0.5em;
    }

    footer {
        text-align: right;
    }

    header {
        text-align: center;
        margin: 1em 0;
    }
    h1, .current-season {
        display: inline;
        font-size: 2em;
    }
    .current-season::before {
        content: " \2014 "; /* mdash */
        margin: 0.5em;
    }
}

figcaption > dl {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
    justify-content: start;
}
dt {
    justify-self: end;
}
dt::after {
    display: inline;
    content: ":";
}
dd {
    margin-left: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td > div {
    display: flex;
}
td:first-of-type > div, td:last-of-type > div {
    flex-flow: column wrap;
}

td figure {
    border: 1px solid black;
    border-radius: .5em 1em;
    padding: 0 0.25em;
    margin: 1px;
    flex: auto;
    min-width: max-content;
}
td:nth-of-type(2) figure {
    min-height: 5.25em;
}

/* flex spacer */
td > div > div {
    flex: 2 4em;
    min-width: 3em;
}

td figcaption {
    border-bottom: 2px solid black;
    margin: 0.25em 0;
}

ul {
    padding-left: 0;
    list-style: '\200B'; /* zero-width space instead of 'none' to preserve semantics */
    margin: 0.25em 0;
}

li {
    padding-left: 1.5em;
    position: relative;
    line-height: 1.25;
}

li > img {
    width: 1.25em;
    height: 1.25em;
    position: absolute;
    top: 0px;
    left: 0px;
}

li > p {
    margin: 0px;
}
td:last-of-type p {
    display: inline;
}
td:last-of-type p:after {
    content: " ";
}

th > div {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    width: 1.2em; /* firefox-only bug where vertical-rl causes 0 width */
    margin: 0.25em 0.25em 0 0;
}

th, td {
    vertical-align: top;
}

@media print {
    tr {
        break-inside: avoid;
    }
}