:root {
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
}

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

main {
    padding: 0 20px;
}

h1, #current-season, #moves-container > figcaption, footer {
    margin: 1em 0;
}

#current-season {
    font-size: 1.5em;
    font-weight: bold;
}

#moves-container {
    margin: 0;
    position: relative;
}

@media print, (min-width: 90em) {
    #moves-container > figcaption {
        position: absolute;
        right: 4em;
        top: 1em;
        border: 3px solid black;
        padding: 0.5em;
        background-color: whitesmoke;
    }

    footer {
        margin: 0;
        text-align: right;
    }

    header {
        text-align: center;
        margin: 1em 0;
    }
    h1, #current-season {
        display: inline;
        font-size: 2em;
    }
    #current-season::before {
        content: "\2014"; /* mdash */
        margin: 0.5em;
    }
}

figcaption > dl {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
    justify-content: start;
}
dt {
    justify-self: end;
}
dt::after {
    display: inline;
    content: ":";
}
dd {
    margin-left: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-top: 1px solid black;
}

th {
    padding: 0.5em;
}

th, td {
    vertical-align: top;
    padding-top: 0.25em;
}

td > div, .ppt-container {
    display: flex;
}

.ppt-container {
    flex-flow: column;
    margin: 0;
}

.ppt-container > *:first-child {
    font-size: smaller;
    padding-left: 0.5em;
}

td:first-of-type > div {
    justify-content: right;
}

.spacer {
    flex: calc(var(--spacer-units, 10) * 3em);
    min-width: 2em;
}

td figure figure {
    border: 1px solid black;
    border-radius: .5em 1em;
    padding: 0 0.25em;
    margin: 1px;
    flex: auto;
}

td figure figure > figcaption {
    border-bottom: 2px solid black;
    margin: 0.25em 0;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

td figure figure figcaption > span {
    min-width: max-content;
}

ul {
    padding-left: 0;
    list-style: '\200B'; /* zero-width space instead of 'none' to preserve semantics */
    margin: 0.25em 0;
}

li {
    padding-left: 1.5em;
    position: relative;
    line-height: 1.25;
}

li > img {
    width: 1.25em;
    height: 1.25em;
    position: absolute;
    top: 0px;
    left: 0px;
}

@media print {
    tr {
        break-inside: avoid;
    }
}